body {
    margin: 0;
    background-color: rgb(27, 36, 74);
    text-align: center;
    font-family: 'Cursed Timer ULiL', sans-serif;
                                                
}


.container {
    display: flex;
    justify-content: space-around;
   }
   
.score{
    width: 155px;
    height: 120px;
    border-radius: 5px;
    background-color: rgb(8, 0, 1);
    color: rgb(249, 79, 109);
    font-size: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
   }
   
   .button-section{
    margin-top: 26px;
   }
   
   #home1 , #home2 , #home3 , #guest1 , #guest2 , #guest3{
    width: 43px;
    height: 45px;
    margin-right: 9px;
    font-size: 18px;
    border:  2px solid rgb(154, 171, 216);
    background-color: rgb(27, 36, 74);
    border-radius: 5px;
    color: rgb(154, 171, 216);
    font-family: 'Cursed Timer ULiL', sans-serif;
                                                
   }
   
   h3{
    color: rgb(238, 238, 238);
    font-family: Verdana;
    font-size: 36px;
    margin-bottom: 21px;
    margin-right: 13px;
   }
   
   .reset{
    display: block;
    margin-top: 35px;
   }
   
   #reset-btn{
    margin-left: auto;
    margin-right: auto;
    padding-top : 15px;
    padding-bottom: 15px;
    padding-left: 20px;
    padding-right: 20px;
    border:  2px solid rgb(154, 171, 216);
    border-radius: 4px;
    color:rgb(154, 171, 216);
    background-color: rgb(27, 36, 74);
    font-weight: bold;
    font-family: Impact;
    letter-spacing: 3px;
    font-size: 20px;
   }
   
   
